<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $_type = $_product->getTypeInstance(true);
    
    
    /*
    
    $attribute = Mage::getModel('eav/config')->getAttribute('catalog_product','packaging_size');
	foreach ( $attribute->getSource()->getAllOptions(true, true) as $option){
	    $pgkLabels[$option['value']] = $option['label'];
    }
    
    $productGroups = Array();
    
    
    
    $products = Array();
    $options = $_type->getOptions($_product);
    foreach ($options as $option) {
        foreach ($option->selections as $product) {
	        $id = $product->getId();
	        $product->reset();
	        $product->load($id);
	        $sizeId = $product->PackagingSize;
	        if ($sizeId && array_key_exists($sizeId,$pgkLabels))
	            $productGroups[$pgkLabels[$sizeId]][] = $product;
        }
    }
    

    */
    

    /*
    $selectionCollection = $_type->getSelectionsCollection(
		$_type->getOptionsIds($_product), $_product
	);

	$items = array();
	foreach($selectionCollection as $item)
	{
	    
	    echo "size: ".$item->getName()."<br />";
	    print_array($item->getData());
		$items[] = $item->product_id;
	}

	print_array($items);
    */
    
    /*
<?php foreach ($productGroups as $key=>$group): ?>
<div>
<h2>Größe <?php echo $key ?></h2>
<?php foreach ($group as $product): ?>
<?php echo $product->Name; ?><br />
<?php endforeach ?>
</div>
<?php endforeach ?>
    */
    
?>

<div>
<h1>Configurator</h1>

</div>