<html>
<?php echo $this->getHeadHtml(); ?>
<body>
	<?php
	    $sections = $this->getSections();
	?>	
	<h1>Kundendaten</h1>
	<?php foreach ($sections as $section): ?>
		<?php if ($section=='separator'): ?>
			<div class="clear">&nbsp;</div>
			<div class="separator" >&nbsp;</div>
		<?php else : ?>
			<div class="box floatleft">
			<h2><?php echo $section['name'] ?></h2>
			<div class="client">
			<?php echo $this->getTableHtml($section['values']) ?>
			</div>			
			</div>
		<?php endif ?>
	<?php endforeach ?>
</body>
</html>