<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style type="text/css">
    body,td,tr {
        font: 11px Arial;
    }
    td {
       padding: 0px 10px 0px 0px;
       border: 0;
       border-bottom: 1px solid #E1E1E1;
       vertical-align: top;
        text-align: left;
    }

    td.value {
        text-align: right;
        padding-right: 0px;
    }

    .row {
        background: #00FFFF;
        border: 1px solid red;
    }
    .clear {
    	clear: both;
    }
    .box {
    	margin:0px 10px 20px 0px;
    	border:1px solid #999;
    	padding: 0px;
    }
    .box h2 {
        font: 11px Arial;
        font-weight: bold;
        margin: 0px 0px 10px 0px;
        padding: 5px;
        border: 0;
        border-bottom: 1px solid #CCC;
        background: #F1F1F1;
    }
    .box h3 {
        font: 10px Arial;
        font-weight: normal;
        color: gray;
        margin: 0px 0px 0px 0px;
        padding: 0px 5px 0px 5px;
        border-bottom: 1px solid #CCC;
    }    
    .box .client {
        padding: 5px;
    }    
    .floatleft {
    	float:left;
    }
    .separator {
    	border: 0;
    	line-height: 1px;
    	margin: 50px 0px;
    	clear: both;
    	border-bottom: 1px solid #AAA;
    }
</style>
</head>