<table cellspacing="0" cellpadding="0">
<?php foreach ($this->getValues() as $key=>$value): ?>
    <tr onmouseover="this.className='row';"  onmouseout="this.className='';"  >
        <td class="key" ><?php echo $key ?></td>
        <td class="value">
            <?php 
                if (is_array($value)) 
                    echo $this->getTableHtml($value);
                elseif (is_object($value))
                    echo get_class($value); 
                elseif (is_string($value)) {
                    $uns = @unserialize($value);
                    if ($uns!==false)
                        echo $this->getTableHtml($uns); 
                    else
                        echo (strlen($value))?wordwrap($value,30,'<i style="color:gray;">&#8629;</i><br />',true):"&nbsp;";
                } elseif (is_numeric($value)) {
                	echo $value;
                } elseif (is_null($value)) {
                	echo '<i style="color:gray;">null</i>';
                } else {
                	$value = (string) $value;
                    echo (strlen($value))?$value:"&nbsp;";
                }
                 
            ?>
        </td>
    </tr>
<?php endforeach ?>
</table>
